---
BasedOnStyle: WebKit
BreakBeforeBraces: Stroustrup
ColumnLimit: 170
Cpp11BracedListStyle: true
DerivePointerAlignment: true
ReflowComments: false
SortIncludes: true
AllowShortFunctionsOnASingleLine: Empty